<a href="https://colab.research.google.com/github/Manojkumar310897/Guvi-Task01/blob/main/telephone_directory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

In [ ]:
import json
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://3197_manojravi:manoj123@cluster0.vcqh7hs.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
db=client.get_database("Telephone_Directory")
records=db.Directory
records.count_documents({})

10

# Create

In [8]:
Phone_directory={"_id":[i for i in input().split()],"Name":[i for i in input().split()],"Phonenumber":[int(i) for i in input().split()],"Place":[i for i in input().split()]}
Phone_directory

1 2 3 4 5 6 7 8 9 10
Akhilesh Roshan Surya Rekha Anjali Koushik Sukumar Vijayan Roopa Arun
9846878321 8945673254 9847563243 9863564732 9846786541 9846897890 9863425634 9847675678 9845326745 9867546321
Kerala Goa Karnataka Telangana Delhi Gujarat UP Maharashtra Tamilnadu Punjab

{'_id': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 'Name': ['Akhilesh',
  'Roshan',
  'Surya',
  'Rekha',
  'Anjali',
  'Koushik',
  'Sukumar',
  'Vijayan',
  'Roopa',
  'Arun'],
 'Phonenumber': [9846878321,
  8945673254,
  9847563243,
  9863564732,
  9846786541,
  9846897890,
  9863425634,
  9847675678,
  9845326745,
  9867546321],
 'Place': ['Kerala',
  'Goa',
  'Karnataka',
  'Telangana',
  'Delhi',
  'Gujarat',
  'UP',
  'Maharashtra',
  'Tamilnadu',
  'Punjab']}

In [9]:
Phone_dir = [dict(zip(Phone_directory,t)) for t in zip(*Phone_directory.values())]
print(Phone_dir)

[{'_id': '1', 'Name': 'Akhilesh', 'Phonenumber': 9846878321, 'Place': 'Kerala'}, {'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}, {'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}, {'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}, {'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}, {'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}, {'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}, {'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}, {'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}, {'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}]

In [ ]:
records.insert_many(Phone_dir)

In [16]:
records.count_documents({})

10

# Find

In [17]:
x = records.find_one()
x

{'_id': '1', 'Name': 'Akhilesh', 'Phonenumber': 9846878321, 'Place': 'Kerala'}

In [19]:
x = records.find_one('7')
y= records.find_one('9')
print(x)
print(y)

{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}

In [20]:
for y in records.find():
  print(y)

{'_id': '1', 'Name': 'Akhilesh', 'Phonenumber': 9846878321, 'Place': 'Kerala'}
{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}

In [22]:
for x in records.find({},{"_id":0, "Name" :1, "Place":1}):
  print(x)

{'Name': 'Akhilesh', 'Place': 'Kerala'}
{'Name': 'Roshan', 'Place': 'Goa'}
{'Name': 'Surya', 'Place': 'Karnataka'}
{'Name': 'Rekha', 'Place': 'Telangana'}
{'Name': 'Anjali', 'Place': 'Delhi'}
{'Name': 'Koushik', 'Place': 'Gujarat'}
{'Name': 'Sukumar', 'Place': 'UP'}
{'Name': 'Vijayan', 'Place': 'Maharashtra'}
{'Name': 'Roopa', 'Place': 'Tamilnadu'}
{'Name': 'Arun', 'Place': 'Punjab'}

In [23]:
for x in records.find({},{"_id":0,"Name":1}):
  print(x)

{'Name': 'Akhilesh'}
{'Name': 'Roshan'}
{'Name': 'Surya'}
{'Name': 'Rekha'}
{'Name': 'Anjali'}
{'Name': 'Koushik'}
{'Name': 'Sukumar'}
{'Name': 'Vijayan'}
{'Name': 'Roopa'}
{'Name': 'Arun'}

In [28]:
records.count_documents({})

12

In [27]:
query={"Place":"Punjab"}
for x in records.find(query):
 print(x)

{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}
{'_id': '11', 'Name': 'Ajay', 'Phonenumber': 9852563905, 'Place': 'Punjab'}
{'_id': '12', 'Name': 'Sunil', 'Phonenumber': 9832154456, 'Place': 'Punjab'}

In [29]:
query={"Place":"Punjab"}
for x in records.find(query,{"_id":1,"Name":1}):
 print(x)

{'_id': '10', 'Name': 'Arun'}
{'_id': '11', 'Name': 'Ajay'}
{'_id': '12', 'Name': 'Sunil'}

# update

In [30]:
myquery = {"Name":"Akhilesh"}
newvalues = {"$set":{"Name":"Sundar"}}
records.update_one(myquery,newvalues)

for x in records.find():
  print(x)

{'_id': '1', 'Name': 'Sundar', 'Phonenumber': 9846878321, 'Place': 'Kerala'}
{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}
{'_id': '11', 'Name': 'Ajay', 'Phonenumber': 9852563905, 'Place': 'Punjab'}
{'_id': '12', 'Name': 'Sunil', 'Phonenumber': 9832154456, 'Place': 'Punjab'}

In [31]:
for x in records.find({"Place":"Punjab"},{"Name":1,"Place":1}):
  print(x)

{'_id': '10', 'Name': 'Arun', 'Place': 'Punjab'}
{'_id': '11', 'Name': 'Ajay', 'Place': 'Punjab'}
{'_id': '12', 'Name': 'Sunil', 'Place': 'Punjab'}

In [32]:
query={"Place":"Punjab"}
newvalues={"$set":{"Place":"Tamilnadu"}}
records.update_many(query,newvalues)

for x in records.find():
  print(x)

{'_id': '1', 'Name': 'Sundar', 'Phonenumber': 9846878321, 'Place': 'Kerala'}
{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Tamilnadu'}
{'_id': '11', 'Name': 'Ajay', 'Phonenumber': 9852563905, 'Place': 'Tamilnadu'}
{'_id': '12', 'Name': 'Sunil', 'Phonenumber': 9832154456, 'Place': 'Tamilnadu'}

# Delete

In [33]:
query={"Name":"Roopa"}
records.delete_one(query)
for x in records.find():
  print(x)

{'_id': '1', 'Name': 'Sundar', 'Phonenumber': 9846878321, 'Place': 'Kerala'}
{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Tamilnadu'}
{'_id': '11', 'Name': 'Ajay', 'Phonenumber': 9852563905, 'Place': 'Tamilnadu'}
{'_id': '12', 'Name': 'Sunil', 'Phonenumber': 9832154456, 'Place': 'Tamilnadu'}